#buttong:hover {
  opacity: 80%;
}

#buttong:active {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5) !important; 
}

.gridCell:hover{
  background: rgba(0,0,0,0.5)
}
.status{
  font-size: 1.4em;
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: cadetblue;
}

/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */